


body {
  background-color: #fdf8f0;

}
section {
  margin-bottom: 3%;
}

.text-size-medium{
  font-size: 1.3rem;
}
.espaciado-t-b {
  padding: 2% 0;
}

.espaciado-margin{
  margin-top: 2%;
  margin-bottom: 2%;
}


/*Nav bar*/
.navbar-logo {
  background-color: black;
  height: 20vh;
}
.navbar-logo img {
  height: 20vh;
}

.navbar {
  background-color: black;


}


/*Centrado de nav bar */
.navbar-nav {
  position: relative;
    left: 50%;
    transform: translatex(-50%);
}



/*Carousel*/

/*.carousel, .carousel-inner , .item ,img {
    height: 45vh;
  }*/

  /*Arreglar para el tamaño xxl*/
.carousel img, .carousel-inner , .item  {
    width: 100%;
    height: auto;
  }




/*Secciones*/
.img-colum {
  margin: 20px 2px;
}
.img-colum img{
  width: 100%;
  height: 100%;
}

/*Productos destacados*/


.productos-destacados h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

.articulo img {
  width: 98%;
  height: auto;
}

.p-d-articulos {
  text-align: center;
}

.p-d-articulos div {
  margin-bottom: 2%;

}

.p-d-articulos a{
  font-style: italic;
  text-decoration: none;
  color: rgb(129, 129, 129);
  font-weight: lighter;
}

.p-d-articulos p{
  font-size: 1rem;
 
}

.p-d-articulos .btn {

  border: 1px gray solid ;
}

.p-d-articulos .btn-solid {

  border: none;


}

.p-d-articulos h3 {
  font-size: 1.5rem;
}


/*prefooter*/

.bg-color2 {
  background-color: #D9CFC6;
}



i{
  font-size: 2.5rem;
  align-items: flex-end;
  text-align: right;
}




/*FOOTER*/

footer {
  background-color: #a3a3a3;
  height: auto;
  align-content: center;
  text-align: center;
}

footer a{
  text-decoration: none;
  color: rgb(71, 71, 71);
}

.mapa iframe {
  height: 18vh;
  width: auto;
}



  /*Responsive*/

  /*meter los mediaquery del carrusel para cuando la pantalla se vaya agrandando*/